

button {
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(black)darkorchid);
    background-image: -webkit-linear-gradient(top, black, darkorchid);
    background-image: -moz-linear-gradient(top, black, darkorchid);
    background-image: linear-gradient(to bottom, black, darkorchid);
    
    
}
#searchButton {
    background-image: -webkit-gradient(linear, left top, left bottom, from(black)darkorchid);
    background-image: -webkit-linear-gradient(top, black, darkorchid);
    background-image: -moz-linear-gradient(top, black, darkorchid);
    background-image: linear-gradient(to bottom, black, darkorchid);
    

}
#topSpot{
    background: transparent
}
.item {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
   color: lightgray;
   font-size: 24; 
   float: left;
    
}





/* footer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightgrey)black);
    background-image: -webkit-linear-gradient(top, lightgrey,black);
    background-image: -moz-linear-gradient(top, lightgrey,black);
    background-image: linear-gradient(to bottom, lightgrey,black);;
    text-align: center;
    color: white;
} */